// 基本設定
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体";
}

main {
  background: url(../img/bg.png) center / cover;
}

// 各セクション共通設定

.content_wrapper {
  margin: 0 1.2rem;
}

.pc_responsive {
  display: none;
}

// ヘッダー
header {
  color: #ffffff;
  background-color: #47b39d;
  .header_container {
    margin: 0 1.2rem;
    // display: flex;
    // justify-content: space-between;
    // justify-items:center;
  }

  h1 {
    font-size: 2.4rem;
    font-weight: normal;
    margin: 0;
    line-height: 3.25;
  }

  .menu {
    height: 3.4rem;
    background: #000000;
    margin: 0 auto;
  }

  nav {
    display: none;
  }
}

// メインヴィジュアル
.mainVisual {
  height: 81.2rem;
  background: #41baa4;
  text-align: center;
  color: #ffffff;
  margin-bottom: 5.2rem;
  // padding:0px 8%;

  h2 {
    font-size: 2.4rem;
    font-weight: normal;
    margin: 0;
    padding: 18.5rem 0 4.7rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: normal;
    padding: 0 8%;
    margin: 0;
  }
}

// 人気のある記事、最近の投稿　共通
.articles {
  margin-bottom: 4rem;
  border-bottom: 1px solid #e5e5e5;
  .articles_container {
    padding-bottom: 4rem;
  }

  h2 {
    font-size: 2.4rem;
    font-weight: normal;
    line-height: 3.63;
    color: #241913;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 4rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  li {
    border: 1px solid #e5e5e5;
    margin-bottom: 2.2rem;
  }

  a {
    text-decoration: none;
  }

  .rank_date {
    font-size: 1.2rem;
    line-height: 3;
    color: #ffffff;
    opacity: 0.7;
    width: 4.8rem;
    height: 4.8rem;
    text-align: center;
    float: left;
    position: absolute;
  }

  img {
    width: 100%;
  }

  .category {
    background: #47b39d;
    font-size: 1.2rem;
    color: #ffffff;
    line-height: 3;
    width: 12.2rem;
    text-align: center;
  }

  .articleTitle {
    font-size: 1.6rem;
    font-weight: normal;
    color: #241913;
    margin: 1.2rem;
  }
}

// 人気の記事　個別css　ここから
.popular {
  .fa-font-awesome-flag {
    font-size: 2.8rem;
    line-height: 1.57;
  }
  span {
    font-size: 1.6rem;
  }

  .no1 {
    background: #d6b038;
  }

  .no2 {
    background: #bfc4c9;
  }

  .no3 {
    background: #b9704e;
  }
}

// 最近の投稿　個別　ここから
.recent {
  .fa-clock {
    font-size: 2.8rem;
    line-height: 1.57;
  }

  .rank_date {
    background: #3b4552;
    line-height: 1.8rem;
    padding-top: 0.6rem;
  }

  span {
    font-size: 1.4rem;
  }
}

// 特徴
.features {
  .features_heading {
    background: #3b4552;
    padding: 1.6rem 0 2.4rem;
    text-align: center;

    .fa-check {
      font-size: 2.8rem;
      color: #ffffff;
      line-height: 1.57;
    }

    h2 {
      font-size: 2.8rem;
      font-weight: normal;
      line-height: 1.57;
      color: #ffffff;
      margin: 0;
    }

    p {
      font-size: 1.2rem;
      color: #ffffff;
      line-height: 1.67;
      margin: 0;
    }
  }

  .feature_wrapper {
    padding-bottom: 8rem;
    border-bottom: 1px solid #e5e5e5;
  }

  .featuresTitle {
    .order {
      background: #47b39d;
      font-size: 1.6rem;
      line-height: 1;
      color: #ffffff;
      text-align: center;
      width: 3.452rem;
      padding: 4.6rem 0 1.6rem;
      margin: 0 auto 3.2rem;
    }

    h3 {
      font-size: 3.6rem;
      font-weight: normal;
      line-height: 1.4;
      color: #47b39d;
      text-align: center;
      margin: 0 auto 0.8rem;
    }

    .english {
      font-size: 1.3rem;
      color: #47b39d;
      text-align: center;
      margin: 0 auto 3.2rem;
    }
  }

  .featureImage {
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 30rem;
    margin-bottom: 2.4rem;
  }

  .img1 {
    background-image: url(../img/macbook-at-the-coffee-shop.jpg);
  }

  .img2 {
    background-image: url(../img/two-coffee-at-the-shop.jpg);
  }

  .img3 {
    background-image: url(../img/imac-glasses-desk.jpg);
  }

  .img4 {
    background-image: url(../img/macbook-holding.png);
  }

  .feature_description {
    p {
      font-size: 1.6rem;
      color: #241913;
      margin-bottom: 4.8rem;
    }

    a {
      display: block;
      text-decoration: none;
      background: #ff6c00;
      font-size: 1.4rem;
      color: #ffffff;
      padding: 1.6rem 0;
      text-align: center;
      border-radius: 0.5rem;
    }
  }
}

@media screen and (min-width: 767px) {
  .content_wrapper {
    margin: 0 2.4rem;
  }

  .articles {
    ul {
      display: flex;
    }

    li {
      margin: 0 0.5% 2.2rem;
    }
  }

  .feature_description {
    a {
      width: 30%;
      // padding: 1.25rem 0;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 992px) {
  // 共通設定
  .content_wrapper {
    margin: 0 3.2rem;
  }

  .pc_responsive {
    display: block;
  }

  // 記事
  .articles {
    ul {
      display: flex;
    }

    li {
      margin: 0 1.1% 2.2rem;
    }

    .no4 {
      background: #47442f;
    }

    .no5 {
      background: rgb(81, 80, 84);
    }
  }

  // 特徴
  .features {
    .feature_wrapper {
      padding-bottom: 0;
      position: relative;
    }
    .flex_container {
      display: flex;
      // width: 120rem;
      height: 44rem;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0;
    }

    .featuresTitle {
      width: 60%;
      order: 1;
      .order {
        margin: 0 auto 3.2rem 0;
      }

      h3 {
        text-align: left;
        margin: 0 auto 0.8rem;
      }

      .english {
        text-align: left;
        margin: 0 auto 3.2rem;
      }
    }

    .featureImage {
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      width: 40%;
      height: inherit;
      margin-bottom: 2.4rem;
    }

    .right {
      order: 3;
      // position: absolute;
      // top: 0;
      // right: 0;
      // float: right;
    }

    .left {
      // position: absolute;
      // top: 0;
      // left: 0;
      // float: left;
    }

    .feature_description {
      width: 60%;
      order: 2;

      a {
        width: 19.4rem;
        margin: 0 auto 0 0;
      }
    }
  }
}

//  2/7にやること
// 余白の調整
// タブレット版の最近の投稿が５つになっているのを３つに
